.StringArrayContainer {
  margin: 20px 0;
}

.StringItem {
  display: flex;

  .StringItemField {
    flex: 1;
  }

  .StringItemContext {
    flex-basis: auto;
    margin-left: 15px;
  }

  & + & {
    margin-top: 10px;
  }
}
