.ArrayContainer {
  margin: 20px 0;
}

.ArrayItem {
  display: flex;

  .ArrayItemField {
    flex: 1;
  }

  .ArrayItemContext {
    flex-basis: auto;
    margin-left: 15px;
  }

  & + & {
    margin-top: 10px;
  }
}
