.BaseField {
  margin-top: 30px;
}

.PromptField {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.RecognizerField, .CasesFieldConditions {
  display: flex;

  .ObjectFieldTemplate {
    flex: 1;
  }

  .BaseField {
    flex: 1;
  }

  .RecognizerFieldMenu, .CasesFieldConditionsMenu {
    flex-grow: 0;
    margin-left: 20px;
    margin-top: 30px;
    padding-top: 4px;
  }
}

.JsonField {
  .react-codemirror2 {
    margin-top: 0;
    border: 1px solid rgb(161, 159, 157);
    border-radius: 2px;
  }

  .CodeMirror {
    height: auto;
  }

  .CodeMirror--error {
    border: 2px solid #e81123;
  }
}
