node_modules
Composer/node_modules
**/node_modules
**/package-lock.json
**/dist
**/build
**/server/data.json
**/server/tmp.zip
# not ignore all lib folder because packages/lib, so probably we should rename that to libs
packages/lib/*/lib

Dockerfile
.dockerignore

# ignore local bots
extensions/localPublish/hostedBots/*

# ignore test
Composer/coverage
Composer/.composer

extensions/.build-cache.json
extensions/**/lib
extensions/**/dist

# ignore .git folders
**/.git
