trigger:
  - master

pr:
  autoCancel: true
  branches:
    include:
      - '*'

variables:
  YARN_CACHE_FOLDER: $(Pipeline.Workspace)/.yarn

jobs:
  - job: e2e
    displayName: End-to-End Tests
    # re-enable once we upgrade our subscription to cypress
    # strategy:
    #   parallel: 4
    pool:
      vmImage: ubuntu-latest

    steps:
      - task: NodeTool@0
        displayName: "Use Node 12.13.0"
        inputs:
          versionSpec: 12.13.0
      - task: CacheBeta@1
        inputs:
          key: yarn | $(Agent.OS) | Composer/yarn.lock
          path: $(YARN_CACHE_FOLDER)
          restoreKeys: |
            yarn | $(Agent.OS)
        displayName: Cache Yarn packages
      - task: CacheBeta@1
        displayName: Cache Cypress binary
        inputs:
          key: cypress | $(Agent.OS) | Composer/yarn.lock
          path: /home/vsts/.cache/Cypress
      - script: yarn --frozen-lock-file
        displayName: yarn install
        workingDirectory: Composer
      - script: yarn build
        displayName: yarn build
        workingDirectory: Composer
      - script: ./scripts/e2e.sh
        displayName: Run E2E Tests
        workingDirectory: Composer
        env:
          # CYPRESS_RECORD_KEY: $(CYPRESS_RECORD_KEY)
          CYPRESS_VIDEO: true
          # CYPRESS_VIDEO_UPLOAD_ON_PASSES: true
          CYPRESS_SCREENSHOTS_FOLDER: $(Build.ArtifactStagingDirectory)/cypress/screenshots
          CYPRESS_VIDEOS_FOLDER: $(Build.ArtifactStagingDirectory)/cypress/videos
          TERM: xterm
          COMPOSER_BOTS_FOLDER: $(Pipeline.Workspace)/Composer/TestBots
      - task: PublishPipelineArtifact@1
        condition: failed()
        continueOnError: true
        inputs:
          targetPath: $(Build.ArtifactStagingDirectory)/cypress
          artifactName: e2e
