.ArrayContainer {
  margin: 20px 0;
}

.ArrayItem {
  display: flex;

  .ArrayItemField {
    flex: 1;

    .ObjectFieldTemplate > .BaseField {
      margin-top: 0;
    }
  }

  .ArrayItemContext {
    flex-basis: auto;
    margin-left: 15px;
  }

  & + & {
    margin-top: 10px;
  }
}

.ObjectArray {
  padding-left: 30px;
}
