.IntentOption {
  width: 100%;
}

.IntentOptionUtterances {
  margin-left: 10px;
  // display: block;
  // padding: 10px 20px;
  color: #605e5c;
  font-size: 11px;
  // white-space: pre;
  // min-width: 200px;
  // overflow: hidden;
  // height: 200px;
  // transition: height 0.2s linear;
}
