body {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.DemoContainer {
  display: flex;
  height: 100vh;

  & > * {
    flex: 0 0 50%;
  }
}

.DemoForm {
  padding: 10px;
  overflow-y: scroll;
  height: 100%;
}

.DemoJSONContainer {
  .react-codemirror2 {
    margin-top: 0;
    height: 100%;
    position: relative;
  }

  .CodeMirror {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
  }

  .CodeMirror--error {
    border: 10px solid #e81123;
  }
}
