.ObjectItem {
  display: flex;

  .ObjectItemField {
    flex: 1;
  }

  .ObjectItemContext {
    flex-basis: auto;
    margin-left: 15px;
    display: flex;
    align-items: flex-end;
  }

  & + & {
    margin-top: 10px;
  }
}
