ul, li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.App {
  text-align: center;
}

.App-sidebar {
  position: fixed;
  width: 200px;
  top: 50px;
  bottom: 0;
  background-color: green;
  color: white;
}

.App-sidebar ul,
.App-sidebar li {
  padding: 5px;
  margin: 0;
  list-style: none;
  cursor: pointer;
}

.App-main {
  position: fixed;
  left: 200px;
  top: 50px;
  bottom: 0;
  right: 0;
  min-height: 80vh;
  background-color: #f6f6f6;
}

.App-link {
  color: #61dafb;
}

.frame-html {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
}

.frame-body {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
}

.frame-root {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
}

.frame-content {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
}
