.CodeMirror {
  position: absolute;
  top: 10px;
  bottom: 0;
  left: 0;
  right: 0;
  height: auto;
  overflow: hidden;
}

.CodeMirror-Hosted .CodeMirror {
  top: 40px;
}

.hosted-controls {
  display: flex;
}

.hosted-controls > * {
  margin-right: 20px;
}

.slot-dropdown {
  display: flex;
}

.slot-dropdown > *:first-child {
  margin-right: 1ch;
}
