.CodeMirror {
  position: absolute;
  top: 10px;
  bottom: 0;
  left: 0;
  right: 0;
  height: auto;
  overflow: hidden;
}

.hosted-settings {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: auto;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.hosted-controls {
  margin-bottom: 18px;
}

.hosted-controls h1 {
  margin-top: 0;
}

.hosted-code-mirror {
  position: relative;
  flex-grow: 1;
  border: 1px solid #B3B0AD;
}

#toolbar-portal {
  display: flex;
  align-items: center;
}
