.BaseFieldTitle {
  font-size: 16px;
  font-weight: 600;
  margin: 0;
  margin-bottom: 11px;
}
.BaseFieldDescription {
  font-size: 12px;
  margin: 0;
  margin-bottom: 20px;
  white-space: pre-line;
}
.RootFieldTitle {
  border-bottom: 1px solid #c8c6c4;
  padding: 0 18px;
  margin-bottom: 16px;
}
.RootFieldDescription {
  margin-top: 0;
  margin-bottom: 10px;
  white-space: pre-line;
}
.RootFieldMetaData {
  padding: 18px;
  display: flex;
  border-top: 1px solid #c8c6c4;
  margin-top: 14px;
}
.RootFieldTitle + .RootFieldMetaData {
  border-top: none;
  margin-top: 0;
}
.PromptField {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}
.CasesFieldConditions {
  display: flex;
}
.CasesFieldConditions .ObjectFieldTemplate {
  flex: 1;
}
.CasesFieldConditions .BaseField {
  flex: 1;
}
.CasesFieldConditions .CasesFieldConditionsMenu {
  flex-grow: 0;
  margin-left: 20px;
  margin-top: 30px;
  padding-top: 4px;
}
a {
  color: black;
}
