.RecognizerField {
  display: flex;
}
.RecognizerField .ObjectFieldTemplate {
  flex: 1;
}
.RecognizerField .BaseField {
  flex: 1;
}
.RecognizerField .RecognizerFieldMenu {
  flex-grow: 0;
  margin-left: 20px;
  margin-top: 30px;
  padding-top: 4px;
}
.ToggleEditor .BaseField {
  margin-top: 5px;
}
.LuFileSelector {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.LuFileSelector .LuFileSelectorLabel {
  flex-grow: 0;
}
.LuFileSelector .LuFileSelectorFile {
  flex: 1;
  margin: 0 10px;
}