; necessary to install preview versions of "adpative-expressions" package -- dependency of @bfc/indexers
registry=https://botbuilder.myget.org/F/botbuilder-v4-js-daily/npm/
scripts-prepend-node-path=true
