.FormContainer {
  flex: 1;
  /**
   * There is currently a bug in chrome where flex/grid display
   * on fieldset does not work. :(
   */
}

.FieldTemplate {
  display: flex;
  flex-direction: column;
  padding: 0 18px;
}

.FieldTemplate--inline {
  flex-direction: row;
  align-items: center;
  margin-top: 14px;
}

.FieldTemplate--inline>label {
  margin-right: 8px;
  margin-top: 0;
}

.FieldTemplate--reverse {
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: center;
}

.FieldTemplate--reverse>label {
  margin-right: 0;
  margin-left: 8px;
}

.FieldTemplateInfo:focus {
  outline: 1px solid #323130;
}
