.FormContainer {
  flex: 1;

  /**
   * There is currently a bug in chrome where flex/grid display
   * on fieldset does not work. :(
  */
  fieldset {
    border: none;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;

    & > p {
      margin: 0;
    }

    & fieldset {
      padding: 0;
    }

    // provide default span of 4 for all children
    & > * {
      grid-column: auto / span 4;
    }
  }
}

.FieldTemplate {
  display: flex;
  flex-direction: column;
  padding: 0 18px;

  &--inline {
    flex-direction: row;
    align-items: center;
    margin-top: 14px;

    & > label {
      margin-right: 8px;
      margin-top: 0;
    }
  }

  &--reverse {
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;

    & > label {
      margin-right: 0;
      margin-left: 8px;
    }
  }

  &Info {
    &:focus {
      outline: 1px solid #323130;
    }
  }
}
