.FormContainer {
  flex: 1;
  /**
   * There is currently a bug in chrome where flex/grid display
   * on fieldset does not work. :(
   */
}
.FormContainer fieldset {
  border: none;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}
.FormContainer fieldset > p {
  margin: 0;
}
.FormContainer fieldset fieldset {
  padding: 0;
}
.FormContainer fieldset > * {
  grid-column: auto / span 4;
}

