**/node_modules
**/package-lock.json
**/dist
**/build
**/server/data.json
**/server/tmp.zip
# not ignore all lib folder because packages/lib, so probably we should rename that to libs
packages/lib/*/lib
packages/extensions/*/lib

Dockerfile
.dockerignore

# ignore local bots
plugins/localPublish/hostedBots/*

# ignore test
coverage
