dist/
junit.xml

cypress/screenshots
cypress/results
cypress/videos

TestBots/

l10ntemp/

# remote extensions
.composer

# yarn 2 - https://yarnpkg.com/getting-started/qa#which-files-should-be-gitignored
# not using zero installs right now
.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*
