.ObjectItem {
  display: flex;

  .ObjectItemField {
    flex: 1;
    padding: 0px 18px;
    margin: 10px 0;
  }

  .ObjectItemContext {
    flex-basis: auto;
    margin-left: 15px;
    display: flex;
    align-items: flex-end;
  }

  &Container {
    padding: 24px 0;
    border-top: 1px solid #c8c6c4;
    border-bottom: 1px solid #c8c6c4;
    margin-top: 16px;
    margin-bottom: 16px;

    // override styles when next to other bordered sections
    .RootFieldTitle + &,
    & + &,
    & + .RootFieldMetaData {
      border-top: none;
      margin-top: 0;
      padding-top: 0;
    }

    .ObjectItemField {
      margin: 0;
    }
  }
}
