name: Composer CI

on:
  pull_request:
    types: [opened, reopened, synchronize]
  push:
    branches:
      - master
      - stable
  schedule:
    - cron: "0 0 * * *"

jobs:
  ci:
    name: Unit Tests
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v1
      - name: Set Node Version
        uses: actions/setup-node@v1
        with:
          node-version: 12.13.0
      - name: Restore yarn cache
        uses: actions/cache@preview
        with:
          path: ~/.cache/yarn
          key: ${{ runner.os }}-yarn-${{ hashFiles(format('{0}{1}', github.workspace, '/Composer/yarn.lock')) }}
          restore-keys: |
            ${{ runner.os }}-yarn-
      - name: yarn install
        run: yarn install
        working-directory: Composer
      - name: yarn build:dev
        run: yarn build:dev
        working-directory: Composer
      - name: yarn lint
        run: yarn lint
        working-directory: Composer
      - name: yarn test:coverage
        run: yarn test:coverage
        working-directory: Composer
      # secrets are not exposed to PRs opened by forks, so just skip this step if it is not defined
      - name: Publish coverage results
        run: |
          if [[ -z $COVERALLS_REPO_TOKEN ]]; then
            echo "Coveralls token not found. Skipping."
          else
            cat coverage/lcov.info | ./node_modules/.bin/coveralls
          fi
        working-directory: Composer
        env:
          COVERALLS_SERVICE_NAME: "Github Actions"
          COVERALLS_REPO_TOKEN: ${{ secrets.COVERALLS_REPO_TOKEN }}

  e2e:
    name: E2E Tests
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v1
      - name: Set Node Version
        uses: actions/setup-node@v1
        with:
          node-version: 12.13.0
      - name: Restore yarn cache
        uses: actions/cache@preview
        with:
          path: ~/.cache/yarn
          key: ${{ runner.os }}-yarn-${{ hashFiles(format('{0}{1}', github.workspace, '/Composer/yarn.lock')) }}
          restore-keys: |
            ${{ runner.os }}-yarn-
      - name: yarn install
        run: yarn install
        working-directory: Composer
      - name: yarn build:prod
        run: yarn build:prod
        working-directory: Composer
      - name: yarn test:integration
        run: yarn test:integration
        working-directory: Composer
        env:
          CYPRESS_COMPOSER_URL: http://localhost:5000
      - name: Archive E2E Failures
        uses: actions/upload-artifact@v1
        if: failure()
        with:
          name: cypress
          path: Composer/cypress/screenshots

  botproject:
    name: BotProject
    runs-on: windows-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v1
      - name: Set Dotnet Version
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: "2.1.802" # SDK Version to use.
      - name: dotnet build
        run: dotnet build
        working-directory: BotProject/CSharp
      - name: dotnet test
        run: dotnet test
        working-directory: BotProject/CSharp
